body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #1a0fed;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1a0fed;
}